{
    "presets": [
        "module:metro-react-native-babel-preset"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@images": "./src/images",
                    "@requests": "./src/requests",
                    "@components": "./src/components",
                    "@utils": "./src/utils",
                    "@screens": "./src/screens"
                }
            }
        ]
    ]
}